@font-face{
    font-family: "font principal";
    src: url(../assets/font/Roboto-Regular.ttf);
}
          /* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}
body{
    font-family: "font principal", sans-serif;
    background-image: url("../assets/img/fondoalternativo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #393a44;
    
}
.main{
    position: relative;
    padding: 300px;
    width: 100%;
    height: 100%;
    display: flex; 
    place-content: center;
    flex-wrap: wrap;
}
header {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, .2);
}


#footer{
    background-color: rgb(32, 33, 37);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: "font principal" ,sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}

div h1, p{
    text-align: center;   
}

nav ul{
    text-align: center;

}
nav ul li {
    list-style: none;
    display: inline-block;
}

nav {
    align-items: center;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
}

nav ul li a:hover{
    background-color: rgba(131, 131, 131, 0.541);
}

p, h1, h2, h3 {
    color: tan;
}

a{
    text-decoration: none;
}
        /* HOME/INDEX */

.main .titulo-principal{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
}
.main .art1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    padding: 0 0 50px;
    position: relative;
    bottom: 100px;
}
.art1 p {
    padding: 0;
    margin: 0 0 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
}
.art1 h3{
    font-size: 40px;
    padding: 0;
    background-color: rgba(0, 0, 0, .8);
    background-size: cover;
    border-radius: 15px;
}
.art1 {
    border: 0;
    margin: 0;
}
#carouselExample {
    width: 800px;
    height: 100%;
    overflow: hidden;
    position: relative;
    bottom: 100px;
}

.logo{
    display: flex;
    position: relative;
    left: 50px;
    width: 95px;
    height: 95px;
    bottom: 20px;
}
.logo img {
    border-radius: 50%;
}

.titulo-principal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (max-whidth:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
       /* SOBRE NOSOTROS */
.foto{
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;

}
.post1 {
    margin: 150px auto;
    width: 70%;
}

.text-box{
    color: #f0faf1;
}

.text-box h3{
    font-size: 42px;
}
.text-box p {
    font-size: 16px;
}

         /* INFORMACION */
.titulo-info{
    text-align: center;
    background-color: black;
}
.info {
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 20px;
    position: relative;
    bottom: 100px;
    border-radius: 30px 30px 0 0;
}
.info p {
    text-align: left;
    padding: 40px;
}

.video {
    align-items:baseline;
    height: 300px;
    width: 400px;
    position: relative;
    right: 180px;
}
.contenedor2{
    align-items:center;
    display: flex;
    justify-content:space-around;
}
.infoadi{
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.infoadicional{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    position: relative;
    bottom: 100px;
    border-radius: 0 0 30px 30px ;
    
}
.infor2 {
    list-style: none;
    display: block;
    color: tan;
    text-align:center; 
}

.infor2 dt {
    font-size: 20px;
}
     /* GALERIA */
.columna img {
    width: 100%;
}
     /* CONTACTO */
.contenedor3{
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.63);
    position:absolute;
    display: grid;
    justify-content: center;
    top: 12%;
    border-radius: 30px
}

.contenedor3 h3 {
    font-size: 40px;
}
.contenedor4{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 500px;
    text-align: left;
}
.contenedor5 {
    display: grid;
    justify-items: center;
}
.form-content{
    background: linear-gradient (
        50deg,
        rgba(40,42,55,1) 50%,
        rgba(40,42,55,0.7));
}
.form-content h3 {
    color: #f4f6f9;
    font-size: 20px;
    margin-bottom: 10px;
}
label{
    font-size: 30px;
    color: black;
    box-shadow: #393a44;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
}
input, textarea{
    padding: 17px 25px;
    background-color: #393a44;
    border: 2px solid #f0faf1;
    color: #f4f6f9;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
}
textarea {
    resize: none;
}
input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

:focus{
    outline: 1px solid #1e92e9;
}
.btn{
    background-color: #b91616;
    width: 150px;
    align-self: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
}
.btn:hover{
    background-color: #219bf9;
}

