@import "utilities/_variables";
@import "utilities/_mixins";
@import "base/_reset";
  /* GENERAL */
  
  * {
    @include reset;
  }
  
  p, h2, h3 {
    margin-bottom: 0;
  }

  body {
    @include bg-body;
    font-family: $font-family;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
  #footer {
    width: 100%;
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(32, 33, 37, 0.8);
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: "font principal" ,sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
  }
  
  div h1, p {
    text-align: center;
  }
  header {
    width: auto;
    height: 120px;
    background-color: rgba(0, 0, 0, .2);;
  nav {
    align-items: center;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    ul {
      text-align: center;
  
      li {
        list-style: none;
        display: inline-block;
  
        a:hover {
          background-color: rgba(131, 131, 131, 0.541);
          transform: scale(1.05);
        }
      }
    }
  }
} 
  p, h1, h2, h3, dt, dl {
    color: $color-base;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn-group, .logoMobile {
    display: none;
  }
  
  @media (min-width: 320px) and (max-width: 740px) {
    body {
        max-width: 100%;
    header {
        display: flex;
        justify-content: flex-end;

        .btn-group {
            display: flex;
            .dropdown-menu {
                background-color: rgba(0, 0, 0, 0.4);
                .dropdown-item {
                    color: $color-base;
                }
            }
        }
        .nav {
            display: none;
            text-align: center;
            flex-direction: column;
        }
    }
      .main {
        max-width: 100%;

        .titulo-principal .logo {
            display: none;
        }
        .titulo-principal {
            flex-direction: column;
        }
    }
    }
    .logoMobile {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: center;
  
      img {
        max-width: 100%;
        border-radius: 50%;
      }
    }  
    #carouselExample {
      max-width: 100%;
    }
  }
  
  @media (min-width: 741px) and (max-width: 1040px) {
    body {
      max-width: 100%;
      header {
        display: flex;
        justify-content: flex-end;
        .logoMobile {
            display: inline-flex;
            flex-wrap: nowrap;
            justify-content: center;
        
            img {
              max-width: 100%;
              border-radius: 50%;
            }
        }
        .btn-group {
            display: flex;
            .dropdown-menu {
                background-color: rgba(0, 0, 0, 0.4);
                .dropdown-item {
                    color: $color-base;
                }
            }
        }
        .nav {
            display: none;
            align-items: center;
        }
      }
      .main {
        max-width: 100%;
        .titulo-principal .logo {
            display: none;
        }
        #carouselExample {
            max-width: 100%;
        }
      }
    }
  }
  
  /* HOME/INDEX */
  
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;
    .art1 {
        background-color: $bg-color;
        text-align: center;
        padding: 40px 40px;
        border-radius: 25px;
        display: inline-flex;
        flex-direction: column;
      
        p {
          font-size: 20px;
          background-color: $bg-color;
          border-radius: 15px;
          text-transform: uppercase;
          white-space: pre-line;
          padding-bottom: 20px;
        }
        h3 {
            padding-bottom: 20px;
        }
    }
    #carouselExample {
        width: 800px;
        height: 100%;
        overflow: hidden;
        margin-bottom: 100px;
    }
    .titulo-principal {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
      
        img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
        }
    .logo {
      padding-left: 30px;
    }
  }
}
  /* SOBRE NOSOTROS */
  
  .master-box {
    display: grid;
    border-radius: 30px;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    .post {
        background-color: $bg-color;
        border-radius: 20px;
        .text-box {
            h2 {
              font-size: 42px;
            }
          
            p {
              font-size: 16px;
              white-space: pre-line;
            }
        }
        img {
            max-width: 380px;
            float: left;
            border: 3px solid #fff;
            border-radius: 10px;
            margin-right: 15px;
        }
    }
  }
  @media (max-width: 768px) {
    .master-box {
      min-width: 100%;
      .post {
        min-width: 100%;
        text-align: center;
    
        img {
          width: 100%;
        }
    }
    }
  }
  
  /* INFORMACION */
  .maxconteiner {
    text-align: center;
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    padding: 0 100px;

    .titulo-info {
        background-color: black;
        border-radius: 30px 30px 0 0;
    }

    .titulo-infoAdi {
        background-color: black;   
    }
    .info {
        background-color: $bg-color;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 30px 30px 0 0;  
        p {
            text-align: center;
            padding: 40px;
          }  
    }
    .infoadicional {
        background-color: $bg-color;
        text-transform: uppercase;
        display: flex;
        font-weight: 600;
        border-radius: 0 0 30px 30px;
        flex-direction: column;
    }
    .infor2 {
    list-style: none;
    display: block;
    color: $color-base;
    text-align: center;
  
    dt {
      font-size: 20px;
    }
    .contenedor2 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    .video {
        height: 300px;
        width: 800px;
    }
    .infoadi {
        text-align: center;
        padding-bottom: 20px;
        justify-content: center;
        display: flex;
    }
    }
  }
}
  @media (min-width: 320px) and (max-width: 480px) {
    .maxconteiner {
      max-width: 100%;
      padding: 0;
      .info, .infoadicional {
        max-width: 100dvh;
    }
    .contenedor2 .infoadi .video {
        width: auto;
    }
    }
  }
  @media (min-width: 481px) and (max-width: 759px) {
    .maxconteiner {
      max-width: 100%;
      padding: 0;
      .info, .infoadicional {
        max-width: 100dvh;
    }
    .contenedor2 .infoadi .video {
        width: auto;
    }
    }
  }
  
  @media screen and (min-width: 760px) {
    .maxconteiner {
        .info, .infoadicional {
            min-width: 300px;
        }
    .contenedor2 .infoadi .video {
        width: auto;
    }
    }
  }
  
  /* GALERIA */
  
  .galeria {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin: auto auto 300px;
    .columna {
        flex: 25%;
        padding: 5px;
        flex-wrap: wrap;
      
        img {
          margin-top: 5px;
          width: 100%;
        }
    }
  }
  @media (max-width: 760px) {
    .columna {
      flex: 100%;
    }
  }
  
  @media (max-width: 1024px) {
    .galeria {
      min-width: 100%;
      .columna {
        flex: 50%;
    }
    }
  }
  
  /* CONTACTO */
  
  .contenedor3 {
    background-color: $bg-color;
    text-align: center;
    border-radius: 25px;
    display: inline-flex;
    flex-direction: column;
    font-size: 40px;
  
    h3 {
      font-size: 40px;
    }
  }
  .contenedor5 {
    justify-items: center;
    .contenedor4 {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        width: 500px;
        text-align: left;
        label {
            font-size: 30px;
            color: black;
            box-shadow: #393a44;
            margin-bottom: 15px;
            font-weight: 600;
            text-align: center;
        }
        input {
            padding: 17px 25px;
            background-color: #393a44;
            border: 2px solid #f0faf1;
            color: #f4f6f9;
            margin-bottom: 20px;
            border-radius: 25px;
            outline: none;
        }
        textarea {
            padding: 17px 25px;
            background-color: #393a44;
            border: 2px solid #f0faf1;
            color: #f4f6f9;
            margin-bottom: 20px;
            border-radius: 25px;
            outline: none;
            resize: none;
        }
        input::placeholder, textarea::placeholder {
            color: #b5cab6;
        }
        .btn {
            background-color: #b91616;
            width: 150px;
            align-self: center;
            cursor: pointer;
            font-size: 16px;
            border-radius: 25px;
          
            &:hover {
              background-color: #219bf9;
            }
        }
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .contenedor5 {
      flex-wrap: nowrap;
      align-items: center;
      background: none;
      max-width: 100%;
    .contenedor4 {
        align-items: center;
        max-width: 100%;
    }
    .contenedor3 {
        max-width: 100%;
        font-size: 20px;
      }
    }
  }