@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/reset";
@import "./base/typo";
@import "./layout/footer";
@import "./layout/form";
@import "./layout/header";
@import "./views/informacion";
@import "./views/galeria";
@import "./views/home";
@import "./views/sobrenosotros";
  /* GENERAL */
  body {
    @include bg-body;
    font-family: $font-family;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
@include GeneralMobile;
@include GeneralTabletandDesktop;