@font-face{
    font-family: "font principal";
    src: url(../assets/font/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}
body{
    font-family: "font principal", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center;
    background-color: #393a44;
    

}
.main{
    position: relative;
    background-image: url("../assets/img/img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px;
    border: 0;
    margin: 0;
    width: 100%;
}
header {
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

#footer{
    background-color: rgb(32, 33, 37);
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
    padding: 50px;

}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: "font principal" ,sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
    text-align: center;
    align-items: center;
}

div h1, p{
    text-align: center;   
}

nav ul{
    text-align: center;

}
nav ul li {
    list-style: none;
    display: inline-block;
}

nav {
    align-items: center;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
}

nav ul li a:hover{
    background-color: rgb(131, 131, 131);
}

p, h1, h2, h3 {
    color: tan;
}

a{
    text-decoration: none;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.principal{
    width: 450px;
    height: 350px;
}

@media (max-whidth:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.titulo-info{
    text-align: center;
    background-color: black;
    display: block;
    border-radius: 20px;
    border-width: 5px;
}
.info {
    background-color: rgba(0, 0, 0, 0.63);
    color: tan;
    text-decoration:solid;
}
.video {
    align-items:baseline;
    height: 300px;
    width: 300px;
}
.contenedor2{
    align-items:center;
    display: flex;
    justify-content:space-around;
}
.infoadi{
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
}

.infoadicional{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}
.infor2 {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: tan;
}

.contenedor3{
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 20px;

}
.contenedor4{
    background-color: rgba(0, 0, 0, 0.63);
    text-transform: uppercase;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    font-size: 35px;
    
}

div form label {
    color: tan;
}
.form-content{
    background: linear-gradient (
        50deg,
        rgba(40,42,55,1) 50%,
        rgba(40,42,55,0.7));
}
.form-content h3 {
    color: #f4f6f9;
    font-size: 20px;
    margin-bottom: 10px;
}
form{
    padding: 10px, 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    width: 340px;
}


label{
    font-size: 15px;
    color: #959AAB;
    margin-bottom: 15px;
    font-weight: 600;
}
input, textarea{
    padding: 17px 25px;
    background-color: #393a44;
    border: 2px solid #f0faf1;
    color: #f4f6f9;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
}
input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

:focus{
    outline: 1px solid #1e92e9;
}
.btn{
    background-color: #b91616;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background-color: #219bf9;
}
@media(max-width:991px){
    body {
        padding: 30px;
    }
    form {
        width: 100%;
    }
    input{
        padding: 15px;
    } 
}

.foto{
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;

}
.post1 {
    margin: 150px auto;
    width: 70%;
}

.text-box{
    color: #f0faf1;
}

.text-box h3{
    font-size: 42px;
}
.text-box p {
    font-size: 16px;
}

.main .titulo-principal{
    font-size: 40px;
    position: relative;
    align-items: flex-start;

}